img {
  display: flex;
  width: 100%;
  height: 24vw;
}
.img-wrapper {
  display: flex
  max-width: 300px;
}

p {
	font-family: 'Montserrat', sans-serif;
  max-width: 75ch;
}

h1{
  font-family: 'Orbitron', sans-serif;
  font-size: clamp(3rem, 5vw, 2rem);
}

h2, h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: clamp(1.2rem, 5vw, 1rem);
}

h3 {
	font-size: clamp(1.8rem, 5vw, 1.8rem);
}

.text-centered, h1, h2, h3, h4 {
  text-align: center;
}

.article-container {
  margin: 0px 20px;
  margin-top: 50px;
  border: 5px solid grey;
  border-radius: 4px;
  padding: 10px 15px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

nav {
  background-color: #6868AB;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
}

.nav-wrapper {
  flex-grow: 2;
  display: flex;
  justify-content: space-end;
  align-items: center;
}

.nav-links {
  display:flex; 
  justify-content: space-between;
  white-space: nowrap;
  gap: 20px;
  flex-wrap: wrap;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-end;
}
nav a {
  color: black;
}
nav a:hover {
  color: white;
}

body {
  margin: 0px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="28" height="49" viewBox="0 0 28 49"%3E%3Cg fill-rule="evenodd"%3E%3Cg id="hexagons" fill="%239C92AC" fill-opacity="0.4" fill-rule="nonzero"%3E%3Cpath d="M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
} 